
.poster-movie {
    height: 20%;
    width: 20%;
}

.salida {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.busqueda {
    align-content: center;
    margin: 10px 10px 40px 40px;
    border-radius: 40px 15px 40px 40px;
    background-color: #e1e1e1;
}

.css-button {
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #e65f44;
    color: #c92200;
    background: linear-gradient(180deg, #f0cb11 5%, #f2ab1e 100%);
    text-shadow: 1px 1px 0px #ded17c;
    box-shadow: inset 1px 1px 2px 0px #f9eca0;
    font-family: Arial;
    cursor: pointer;
    text-align: center;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.css-button:hover {
    background: linear-gradient(180deg, #f2ab1e 5%, #f0cb11 100%);
}

.css-button:active {
    position: relative;
    top: 1px;
}

.css-button > span {
    display: block;
}

.css-button-icon {
    padding: 10px 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}

.css-button-text {
    padding: 10px 10px;
}

.css-button-warn {
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #d83526;
    color: #ffffff;
    background: linear-gradient(180deg, #fa685a 5%, #d34639 100%);
    text-shadow: 1px 1px 0px #98231a;
    box-shadow: inset 1px 1px 2px 0px #fab3ad;
    font-family: Arial;
    cursor: pointer;
    text-align: center;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.css-button-warn:hover {
    background: linear-gradient(180deg, #d34639 5%, #fa685a 100%);
}

.css-button-warn:active {
    position: relative;
    top: 1px;
}

.css-button-warn > span {
    display: block;
}

.css-button-warn-icon {
    padding: 10px 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}

.css-button-warn-text {
    padding: 10px 10px;
}
